
.dialog_box {
        
    .left_button {
        float: left;
        cursor: pointer;
    }
  
   .form-group{
  	  input, select {
        .form-control;
       
       &[multiple]{
         height: auto;
       }
     }
     
     input[readonly].picker__input{
       cursor: default
     }
     
     .picker__header{
       select{
         width: 40%;
         display: inline;
       }
     }
   }
  
}

