#gradebook-container{
  position: absolute;
  z-index: 1000;
  
  .handsontable table{
    background-color: lightgray;
  }
  
  .group-header td{
    background-color: lightgray;
    font-weight: bold;
    height: 32px;
    vertical-align: middle;
    
    .groupIcon{
      .glyphicon;
      .glyphicon-plus;
      float: right;
      font-size: x-small;
      margin-top: 4px;
      cursor: pointer;
    }
  }
  
  .handsontable th:first-child{
    overflow: visible;
    border-right: none;
    
    input{
      width: 120px;
      cursor: pointer;
    }
  }
  
 
  @media screen{
    // hide group header cols on screen
    .group-header td:nth-child(1n+2){
      display: none;
    }
    
    #table-printable{
      display: none;
    }
  }
  
  @media print{
    position: relative;
    
    #table-container{
      display: none;
    }
    
    #table-printable{
      display: table;
      
      table-layout: auto;
      width: 100%;

      tbody{
        display: block;
        page-break-inside: avoid;

        td{
          border: 0;
          border-bottom: 1px solid gray;
          border-right: 1px solid gray;
        }
        
        tr:nth-of-type(even) td{
          background-color: #eeeeee!important;
        }
        
        .group-header{
          td{
            border: 0;
            border-bottom: medium solid;
            padding-top: 30px;
          }
        }
      }
    }
  }
  
  @media print and (orientation: portrait){
         td{
          width: 200pt;
          font-size: 6pt;
          height: 8pt;
          padding: 2px;
        }
  }
    
  @media print and (orientation: landscape){
         td{
          width: 300pt;
          font-size: 10pt;
          height: 14pt;
          padding: 2px;
        }
  }
}
