#gradebook-container{
  position: absolute;
  z-index: 1000;
  
  .group-header{
    background-color: lightgray;
    font-weight: bold;
    height: 32px;
    vertical-align: middle;
    
    .groupIcon{
      .glyphicon;
      .glyphicon-plus;
      float: right;
      font-size: x-small;
      margin-top: 4px;
    }
  }
  
  .handsontable th:first-child{
    overflow: visible;
    border-right: none;
    
    input{
      width: 120px;
    }
  }
}
