
<template name="school_term_list">
  {{# list_panel heading="School Term" items=items command="Open" }}
    <span class="title">{{title}}</span>
    <span class="info">{{formatDate startDate}}</span>
  {{/ list_panel}}
  
  {{# dialog_box id="school_term_dialog" heading="School Term" data=selectedItem }}
    <div class="form-group">
      <label>Title</label>
      <input id="schoolTermTitle" class="autoFocus" type="text" value="{{title}}"/>
    </div>
    <div class="form-group">
      <label>Start</label>
      <input id="schoolTermStart" type="text" value="{{formatDate startDate}}"/>
    </div>
  {{/ dialog_box}}
</template>
